*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}   

h1,h2, h3{

    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 10px 0px 0px 0px;
}

h3{

    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 10px 0px 10px 0px;
}

hr{

    margin: 0px 0px 0px 0px;
}

.input-field i, .input-field label {
    color:black;
}

/* When the input box gets the focus, the color is set. */
.input-field input[type=text]:focus + label  {
    color: #01579b!important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #01579b!important;
    box-shadow: 0 1px 0 0 #01579b!important;
  }

  /* icon prefix focus color */
.input-field .prefix.active {
    color: #01579b!important;
   }
   
.input-field textarea  {
    border-bottom: 1px solid #01579b;
    margin-bottom: 0px;
}
body {
    /* background-image: url("Images/Background1.png"); */
    background-color: whitesmoke;
    background-attachment: fixed;
   }

   .responsive-img {
       margin-top: 150px;
       border: rgb(135, 122, 165) thin solid;
       box-shadow: 10px 10px;
   }

   #searchbox {
      color: #01579b; 
      width: 100%;
      
   }

   #searchbutton {
       background-color: #01579b;
       border: rgb(217, 177, 238) thin solid;
       border-radius: 5%;
       margin: 0px 0px 10px 10px;
    }

    #headline-results{

        color: white;
    }

.row{

    margin: 0px;
}

.sentiment-btn, .article-btn, .copy-btn{

 margin:10px 0px 10px 0px;
}

